################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/back-end/api/WebApiElectroMovilidad/bin/System.Web.WebPages.Razor.dll
/back-end/webapp/appve/sres.ut/obj/Debug

