@using sres.be
@using sres.ut
@{
    ViewBag.Titulo = "Menu ";
    ViewBag.SRESDescription = false;
    UsuarioBE usuario = Session["user"] == null ? null : (UsuarioBE)Session["user"];
}

@section scripts_header{
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.min.js"></script>
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.css" type="text/css" />
}

@section scripts_footer{
    <script src="@Url.Content("~/Assets/js/plugins/alert.js")"></script>
    <script src="@Url.Content("~/Assets/js/pages/electromovilidad_estacionmapa.js")"></script> 
}

<div class="container">
    <div class="row mt-3">
        <h4>Encuentra la estación de carga más cerca de ti</h4>
    </div>
    <div class="row mt-3 mb-2">
        <div class="col-11">
            <div class="row">
                <div class="col-3">
                    <input type="text" class="form-control decimal-miles-positivo" id="txt-potencia" maxlength="30" placeholder="Potencia" />
                </div>
                <div class="col-3">
                    <input type="text" class="form-control" id="txt-modo-carga" maxlength="30" placeholder="Modo de carga" />
                </div>
                <div class="col-3">
                    <input type="text" class="form-control" id="txt-tipo-cargador" maxlength="30" placeholder="Tipo de cargador" />
                </div>
                <div class="col-3">
                    <input type="text" class="form-control" id="txt-tipo-conector" maxlength="30" placeholder="Tipo de conector" />
                </div>
            </div>
        </div>
        <div class="col-1">
            <a class="btn btn-primary" id="btn-buscar" href="javascript:void(0)">Buscar</a>
        </div>
    </div>
    <div class="row mb-2">
        <div id='map' style='width: 100%; height: 600px; border: 2px solid #000'></div>
    </div>
    <div class="row">
        <pre id='coordenadas'></pre>
    </div>
    @*<div class="row">
        <div class="col-8">
            <div class="input-group">
                <input type="button" onclick="getLocation();" value="Get Location" />
            </div>
        </div>
    </div>*@
</div>