@using sres.be
@using sres.ut
@{
    ViewBag.Titulo = "Usuario transporte público";
    ViewBag.SRESDescription = false;
    UsuarioBE usuario = Session["user"] == null ? null : (UsuarioBE)Session["user"];
}
@section scripts_footer{
    <script src="@Url.Content("~/Assets/js/plugins/alert.js")"></script>
    <script src="@Url.Content("~/Assets/js/pages/electromovilidad_usuariovehiculoconvencional.js")"></script>
}

<div class="container mt-5">
    <div class="row">
        <label>Tipo de transporte convencional</label>&nbsp;&nbsp;
        <select id="tipo-transporte-convencional"></select>
    </div>
    <div class="row">
        <label>¿Usa más de un tipo de combustible?</label>&nbsp;
        <input id="rad-si" type="radio" name="rad-usa"/>Si&nbsp;
        <input id="rad-no" type="radio" name="rad-usa"/>No
    </div>
    <div class="row">
        <label>Meses al año que usa este transporte</label>&nbsp;&nbsp;
        <select id="meses-transporte">
            <option value="0">seleccione</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
        </select>
    </div>
    <div id="mensaje-inicio"></div>
    <div class="row">
        <button id="btnComienza" class="btn btn-primary">Comienza</button>
    </div>
    <hr />
    <div id="seccion-calculo" class="d-none">
        <div class="row">
            <label>Tipo de combustible 1 usado a bordo</label>&nbsp;&nbsp;
            <select id="tipo-combustible-1"></select>
        </div>
        <div class="row">
            <label>Tipo de combustible 2 usado a bordo</label>&nbsp;&nbsp;
            <select id="tipo-combustible-2"></select>
        </div>
        <div class="row">
            <label>Gasto promedio semanal combustible 1</label>&nbsp;&nbsp;
            <input type="text" id="gatos-1" />
        </div>
        <div class="row">
            <label>Gasto promedio semanal combustible 2</label>&nbsp;&nbsp;
            <input type="text" id="gatos-2" />
        </div>
        <div class="row">
            <label>Gasto promedio anual mantenimiento</label>&nbsp;&nbsp;
            <input type="text" id="gasto-promedio" />
        </div>
        <div class="row">
            <label>Gasto anual por seguro vehicular</label>&nbsp;&nbsp;
            <input type="text" id="gasto-anual-seguro" />
        </div>
        <div class="row">
            <label>kilometros recorrido en una semana</label>&nbsp;&nbsp;
            <input type="text" id="kilometros-recorrido" />
        </div>
        <div class="row">
            <button id="btnCalcular" class="btn btn-primary">Calcular</button>
        </div>
    </div>    
</div>
